#heroSection {
  background: url(../assets/img/home-page/hero-section-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 130px !important;
}

#heroSection>div>div {
  padding: 40px 0;
}

#heroSection h1 {
  font-size: 50px;
  color: #030719;
  max-width: 415px;
}

#heroSection h1 span {
  color: #DE4F4D;
}

#heroSection .my-btn-outline {
  padding: 18px 65px !important;
}

#reserveCarSection {
  margin-top: -120px;
  margin-bottom: 100px;
}

.reserveCarSectionWrapper {
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.reserveCarSectionWrapper h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 25px;
  color: #030719;
  letter-spacing: 1.5px;
}

.reserveCarSectionWrapper>div {
  background: #EFEFEF;
  border-radius: 46.0371px;
  padding: 8px 10px;
}

.reserveCarSectionWrapper>div>div>div {
  padding: 0 40px;
}

.reserveCarSectionWrapper>div>div>div label {
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  color: #898989;
  margin-bottom: 10px;
}

.reserveCarSectionWrapper>div>div>div input {
  font-weight: 500;
  font-size: 13px;
  background: transparent;
  outline: none;
  border: none;
  color: #000000;
}

.reserveCarSectionWrapper>div>div>div button {
  max-width: inherit;
}

#section03>div>div>div h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 1px;
}

.section03FirstCol {
  margin-top: 130px;
  margin-right: -120px;
  position: relative;
  z-index: 999;
}

#section03>div>div>div p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #717171;
}

#section03>div>div>div>div a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #DE4F4D;
}

#section03>div>div>div>div span img {
  padding: 0;
}

#section03>div>div>div>div img {
  padding: 12px;
  background: #FFFFFF;
  border-radius: 50px;
}

#section04 {
  padding: 55px 0 200px 0;
  background: #C9E7F2;
}

#section04 h2 {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 1px;
}

#section04 p {
  font-weight: 400;
  font-size: 18px;
  color: #717171;
  max-width: 650px;
  width: 100%;
  margin: 15px auto;
}

#section05 {
  margin-top: -150px;
  margin-bottom: 80px;
}

#section05>div>div {
  padding: 75px 110px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

#section05>div>div h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 56px;
}

#section05>div>div>div>div h3 {
  font-weight: 500;
  font-size: 32px;
  text-transform: capitalize;
}

#section05>div>div>div>div p {
  font-weight: 400;
  font-size: 22px;
  color: #717171;
}

#section05>div>div>div>div img {
  max-width: 320px;
  width: 100%;
  margin: auto;
}

#section06 {
  margin-bottom: 80px;
}

.section06img {
  max-width: 900px;
  width: 100%;
}

#section06 area {
  border: 2px solid red;
}

#section06>div>div>h2 {
  max-width: 700px;
  width: 100%;
  margin: auto;
  font-weight: 500;
  font-size: 45px;
}

#section06>div>div>p {
  max-width: 450px;
  width: 100%;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
}

.section06ButtonContainer {
  max-width: 900px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section06Button {
  height: 14px;
  width: 14px;
  background: #dd4f4d;
  outline: none;
  border: none;
  border-radius: 50%;
}

.section06ButtonWrapper {
  position: relative;
  /* top: 19%;
  left: 47.5%; */
  /* background-color: #dd4f4d; */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  /* z-index: 9; */
}

.section06BoxWrapper {
  width: 350px;
  height: 0px;
  margin-top: -25px;
  margin-left: -25px;
  background: #FFFFFF;
  border: 0px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease;
  padding: 0px;
  visibility: hidden;
  /* position: relative;
  z-index: 9999; */
}

.section06BoxWrapper>div {
  position: relative;
  z-index: 9999;
  background: #FFFFFF;
  padding: 8px;
}

.section06BoxWrapper>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.section06ButtonWrapper:hover .section06BoxWrapper {
  height: auto;
  margin-top: 0px;
  margin-left: -125px;
  border: 1px solid #DE4F4D;
  padding: 1px;
  visibility: visible;
}

.section06BoxWrapper::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 0%;
  transform: rotate(45deg);
  background: #FFFFFF;
  width: 16px;
  height: 16px;
  border: 1px solid #DE4F4D;
  transition: all 0.4s ease;
  display: none;
}

.section06BoxWrapper::before {
  content: "";
  position: absolute;
  top: 25px;
  left: -20%;
  background: #FFFFFF;
  width: 25px;
  height: 16px;
  z-index: 99;
  transition: all 0.4s ease;
  display: none;
}

.section06ButtonWrapper:hover .section06BoxWrapper::after,
.section06ButtonWrapper:hover .section06BoxWrapper::before {
  display: block;
}

.section06BoxWrapper h2 {
  font-weight: 500;
  font-size: 22px;
  color: #DE4F4D;
}

.section06BoxWrapper h3 {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.section06BoxWrapper>div>div>span {
  font-weight: 500;
  font-size: 12px;
  color: #DE4F4D;
}

.section06BoxWrapper>div>img {
  border: 1px solid #DE4F4D;
  border-radius: 5px;
}

.section06BoxWrapper p {
  font-weight: 400;
  font-size: 11px;
  color: #000000;
  margin-bottom: 5px;
}

/* ============ Button Boxes ============ */
.section06ButtonWrapper01 {
  top: 2%;
  left: 10%;
}

.section06ButtonWrapper02 {
  top: 2.5%;
  left: 13.7%;
}

.section06ButtonWrapper03 {
  top: 0.6%;
  left: 22.7%;
}

.section06ButtonWrapper04 {
  top: 4.4%;
  left: 10%;
}

.section06ButtonWrapper05 {
  top: 2%;
  left: 17.5%;
}

.section06ButtonWrapper06 {
  top: -0.5%;
  left: 28%;
}

.section06ButtonWrapper07 {
  top: -3%;
  left: 40.4%;
}

.section06ButtonWrapper08 {
  top: -5.5%;
  left: 52.7%;
}

.section06ButtonWrapper09 {
  top: -8%;
  left: 61.3%;
}

.section06ButtonWrapper10 {
  top: -4%;
  left: 12%;
}

.section06ButtonWrapper11 {
  top: -6.5%;
  left: 31.5%;
}

.section06ButtonWrapper12 {
  top: -8.8%;
  left: 47.5%;
}

.section06ButtonWrapper13 {
  top: -11%;
  left: 65%;
}

.section06ButtonWrapper14 {
  top: -4%;
  left: 10%;
}

.section06ButtonWrapper15 {
  top: -6%;
  left: 22.7%;
}

.section06ButtonWrapper16 {
  top: -9%;
  left: 35%;
}

.section06ButtonWrapper17 {
  top: -11%;
  left: 47.5%;
}

.section06ButtonWrapper18 {
  top: -14%;
  left: 58%;
}

.section06ButtonWrapper19 {
  top: -16%;
  left: 69%;
}

.section06ButtonWrapper20 {
  top: -2%;
  left: 10.4%;
}

.section06ButtonWrapper21 {
  top: -1.5%;
  left: 28.1%;
}

.section06ButtonWrapper22 {
  top: -1%;
  left: 40.5%;
}

.section06ButtonWrapper23 {
  top: 0%;
  left: 56.5%;
}

.section06ButtonWrapper24 {
  top: -12%;
  left: 69%;
}

.section06ButtonWrapper25 {
  top: -18%;
  left: 58%;
}

.section06ButtonWrapper26 {
  top: -20%;
  left: 49.3%;
}

.section06ButtonWrapper27 {
  top: -23%;
  left: 38.5%;
}

.section06ButtonWrapper28 {
  top: -12%;
  left: 10.5%;
}

.section06ButtonWrapper29 {
  top: -15%;
  left: 21%;
}

.section06ButtonWrapper30 {
  top: -17%;
  left: 35%;
}

.section06ButtonWrapper31 {
  top: -16%;
  left: 49.3%;
}

.section06ButtonWrapper32 {
  top: -19%;
  left: 68.8%;
}

.section06ButtonWrapper33 {
  top: -15%;
  left: 12%;
}

.section06ButtonWrapper34 {
  top: -17%;
  left: 21%;
}

.section06ButtonWrapper35 {
  top: -13%;
  left: 26.2%;
}

.section06ButtonWrapper36 {
  top: -19%;
  left: 37%;
}

.section06ButtonWrapper37 {
  top: -21%;
  left: 51%;
}

.section06ButtonWrapper38 {
  top: -24%;
  left: 65%;
}

.section06ButtonWrapper39 {
  top: -26%;
  left: 69%;
}

.section06ButtonWrapper40 {
  top: -16%;
  left: 31.6%;
}

.section06ButtonWrapper41 {
  top: -8%;
  left: 40.4%;
}

.section06ButtonWrapper42 {
  top: -24%;
  left: 44%;
}

.section06ButtonWrapper43 {
  top: -23%;
  left: 51%;
}

.section06ButtonWrapper44 {
  top: -25.5%;
  left: 58%;
}

.section06ButtonWrapper45 {
  top: -34.5%;
  left: 67%;
}

.section06ButtonWrapper46 {
  top: -34%;
  left: 63.5%;
}

.section06ButtonWrapper47 {
  top: -26.5%;
  left: 67%;
}

.section06ButtonWrapper48 {
  top: -26%;
  left: 72.3%;
}

/* xxx Button Boxes xxx */

/* =========== Map Box Popup =========== */
.mapBoxPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  overflow: scroll;
}

.mapBoxPopup>div {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  max-width: 300px;
  width: 100%;
}

.mapBoxPopup>div>div>div>h2 {
  font-size: 16px;
}

.mapBoxPopup>div>div>div>h4 {
  font-size: 10px;
  color: #DE4F4D;
}

.mapBoxPopup>div>div>div>p {
  font-size: 10px;
  color: #717171;
}

.mapBoxPopup>div>button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.mapBoxPopup>div>button>i {
  color: #DE4F4D;
  font-size: 20px;
}

.mobileMapButtons {
  width: 100%;
  height: 100%;
  position: relative;
}

.mobileMapButtons>button {
  width: 7px;
  height: 7px;
  background: #DE4F4D;
  border-radius: 50%;
  position: absolute;
  outline: none;
  border: none;
}

.mobileMapButton01 {
  top: 3.3%;
  left: 8.9%;
}

.mobileMapButton02 {
  top: 3.3%;
  left: 14.1%;
}

.mobileMapButton03 {
  top: 3.3%;
  left: 23%;
}

.mobileMapButton04 {
  top: 13%;
  left: 8.9%;
}

.mobileMapButton05 {
  top: 13%;
  left: 19.5%;
}

.mobileMapButton06 {
  top: 13%;
  left: 30%;
}

.mobileMapButton07 {
  top: 13%;
  left: 42.4%;
}

.mobileMapButton08 {
  top: 13%;
  left: 55%;
}

.mobileMapButton09 {
  top: 13%;
  left: 62%;
}

.mobileMapButton10 {
  top: 23%;
  left: 14%;
}

.mobileMapButton11 {
  top: 23%;
  left: 30%;
}

.mobileMapButton12 {
  top: 20%;
  left: 47.8%;
}

.mobileMapButton13 {
  top: 23%;
  left: 53%;
}

.mobileMapButton14 {
  top: 23%;
  left: 67.3%;
}

.mobileMapButton15 {
  top: 29.5%;
  left: 9%;
}

.mobileMapButton16 {
  top: 29.5%;
  left: 23%;
}

.mobileMapButton17 {
  top: 29.5%;
  left: 35.5%;
}

.mobileMapButton18 {
  top: 29.5%;
  left: 46%;
}

.mobileMapButton19 {
  top: 29.5%;
  left: 55%;
}

.mobileMapButton20 {
  top: 29.5%;
  left: 65.5%;
}

.mobileMapButton21 {
  top: 29.5%;
  left: 85%;
}

.mobileMapButton22 {
  top: 46%;
  left: 10.5%;
}

.mobileMapButton23 {
  top: 46%;
  left: 23%;
}

.mobileMapButton24 {
  top: 49%;
  left: 28.2%;
}

.mobileMapButton25 {
  top: 46%;
  left: 37.2%;
}

.mobileMapButton26 {
  top: 46%;
  left: 46%;
}

.mobileMapButton27 {
  top: 46%;
  left: 60.2%;
}

.mobileMapButton28 {
  top: 46%;
  left: 74.5%;
}

.mobileMapButton29 {
  top: 46%;
  left: 85%;
}

.mobileMapButton30 {
  top: 56%;
  left: 5.3%;
}

.mobileMapButton31 {
  top: 56%;
  left: 21%;
}

.mobileMapButton32 {
  top: 55.6%;
  left: 37.3%;
}

.mobileMapButton33 {
  top: 59%;
  left: 51.5%;
}

.mobileMapButton34 {
  top: 59%;
  left: 69%;
}

.mobileMapButton35 {
  top: 69%;
  left: 14%;
}

.mobileMapButton36 {
  top: 72.5%;
  left: 26.6%;
}

.mobileMapButton37 {
  top: 75.4%;
  left: 37.2%;
}

.mobileMapButton38 {
  top: 69%;
  left: 46%;
}

.mobileMapButton39 {
  top: 69%;
  left: 56.6%;
}

.mobileMapButton40 {
  top: 69%;
  left: 67.3%;
}

.mobileMapButton41 {
  top: 69%;
  left: 76%;
}

.mobileMapButton42 {
  top: 85.4%;
  left: 32%;
}

.mobileMapButton43 {
  top: 92%;
  left: 40.7%;
}

.mobileMapButton44 {
  top: 85.4%;
  left: 47.8%;
}

.mobileMapButton45 {
  top: 85.3%;
  left: 56.6%;
}

.mobileMapButton46 {
  top: 85.3%;
  left: 67.3%;
}

.mobileMapButton47 {
  top: 92%;
  left: 41%;
}

.mobileMapButton48 {
  top: 92%;
  left: 72.5%;
}

@media only screen and (max-width:1040px) and (min-width:991px) {
  .section06ButtonContainer {
    /* overflow: hidden; */
  }
}

@media only screen and (max-width:549px) {
  .mobileMapButtons>button {
    width: 5.5px;
    height: 5.5px;
  }
}


#section08 {
  margin: 70px 0;
}

#section08 h2 {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 40px;
}

#section08 img {
  margin-bottom: 20px;
}

#section08 h3 {
  font-weight: 500;
  font-size: 26px;
  max-width: 215px;
  margin: auto;
}

#section08 p {
  font-weight: 400;
  font-size: 18px;
  color: #717171;
  max-width: 320px;
  margin: auto;
}

#section08 a {
  font-weight: 500;
  font-size: 15px;
  color: #DE4F4D;
}


@media only screen and (max-width:1024px) {
  .section03FirstCol {
    margin-top: 0px;
    margin-right: 0px;
  }
}


@media only screen and (max-width: 768px) {
  #heroSection h1 {
    font-size: 40px;
    max-width: none;
  }

  #reserveCarSection h2 {
    font-size: 32px;
    letter-spacing: inherit;
  }

  .reserveCarSectionWrapper>div>div>div {
    padding: 0 15px;
  }

  .reserveCarSectionWrapper>div {
    border-radius: 15px;
    padding: 12px 10px;
  }

  .reserveCarSectionWrapper>div>div>div>button {
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  #section03>div>div>div h2 {
    font-size: 32px;
    letter-spacing: inherit;
  }

  #section03>div>div>div p {
    font-size: 14px;
  }

  #section03>div>div>div>div a {
    font-size: 12px;
  }

  #section03>div>div>div>div img {
    padding: 6px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #section04 h2 {
    font-size: 32px;
    letter-spacing: inherit;
  }

  #section04 p {
    font-size: 14px;
    max-width: inherit;
  }

  #section05>div>div {
    padding: 25px 40px;
    border-radius: 25px;
  }

  #section05>div>div h2 {
    font-size: 32px;
    line-height: inherit;
  }

  #section05>div>div>div>div h3 {
    font-size: 28px;
  }

  #section05>div>div>div>div p {
    font-size: 14px;
  }

  #section06>div>div>h2 {
    max-width: inherit;
    font-size: 32px;
  }

  #section08 h2 {
    font-size: 32px;
  }

  #section08 h3 {
    font-size: 22px;
    max-width: inherit;
  }

  #section08 p {
    font-size: 14px;
    max-width: inherit;
  }

  #section08 a {
    font-size: 12px;
  }
}