#heroSection {
  background: url(../assets/img/home-page/hero-section-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 150px !important;
}

#heroSection h1 {
  font-size: 64px;
  color: #030719;
  max-width: 480px;
}

#heroSection .my-btn-outline {
  padding: 18px 65px !important;
}